form {
  margin-right: 20px;
  margin-top: 20px;
}

.quill {

  .ql-editor {
    overflow: auto !important;
    max-height: 500px;
  }
}

@media(max-width: 768px) {
  .ql-editor {
    max-height: 300px !important;
  }
}